@import "_0-global.scss";

#facebook_slider_widget {
    cursor: pointer;
    top: 60%!important;
}

#header {
    @include center();
    position: fixed;
    top: 35px; 
    width: 100%;
    z-index: 10;
    transition: .3s all;
    display: flex;
    justify-content: space-between;

    &.fixed {
        background: white;
        padding: 10px 0;
        border: 1px solid color(yellow, 1, 1);

        .logo {
            a {
                color: color(black, 1, 1);
            }
        }
    }

    svg {
        height: 45px;
        width: 45px;
        fill: color(yellow, 1, 1)!important; 

        @media (max-width: 600px) {
            height: 35px;
            width: 35px;
        }
    }

    .logo {
        align-self: center;
        padding: 0 50px;

        @media (max-width: 999px) {
            padding: 0 20px;
        }

        a {
            display: flex;
            color: white;
            
            h3 {
                font-weight: 400;
                align-self: center; 

                @media (max-width: 600px) {
                    display: none;
                }
            }
        }
    }

    #burger {
        display: none;
        z-index: 2;

        &:hover {
            cursor: pointer;
        }

        @media (max-width: 999px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 50px;
            cursor: pointer;

            span {
                width: 25px;
                height: 4px;
                background: white;
                margin: 2px;
                border-radius: 0;
                background: color(yellow, 1, 1);
                transition: .3s all;
            }

            &.open {

                @media (max-width: 999px) {
                    background: transparent;
                }

                :first-child {
                    transform: rotate(-45deg) translate(-6px, 5px);
                    transition: all .3s ease-in;

                    @media (max-width: 999px) {
                        background-color: gray;
                    }
                }

                :nth-child(2) {
                    background: transparent;
                    transition: all .3s ease-in;
                }

                :last-child {
                    transform: rotate(45deg) translate(-6px, -5px);
                    transition: all .3s ease-in;

                    @media (max-width: 999px) {
                        background-color: gray;
                    }
                }
            }
        }
    }


    .menu {
        ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 50px;

        @media (max-width: 600px) {
            padding: 0 15px;
        }

            li {
                font-size: 18px; 
                padding: 20px;
                position: relative;
                color: white;
                transition: .3s all;

                @media (max-width: 600px) {
                    padding: 25px 10px;
                }        

                &.fixed {
                    color: rgb(36, 28, 28); 
                }

                a {
                    position: relative;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    
                    &::before {
                        content: "";
                        height: 5px;
                        background-color: color(yellow, 1, 1);
                        position: absolute;
                        left: 0;
                        right: 100%;
                        transition: 0.2s left ease-out, 0.2s right ease-out;
                        z-index: -1;
                        bottom: 14px;
                        bottom: -8px;
                    }

                    &:hover {
                        &::before {
                            right: 0;
                        }
                    }
                }
            }
        }

        &.mobile-menu {
            position: absolute;
            top: -300px;
            left: 0;
            width: 100%;
            background: rgba($color: #1e1e1e, $alpha: 0.95);
            justify-content: center;
            align-items: center;
            display: none;
            z-index: -5;
            transition: .2s all;
    
            &.open {
                transform: translateY(250px);
    
            }
    
            ul {
                margin: 85px 40px 15px auto;
                list-style: none;
                padding: 0 25px;
                display: flex;
                flex-direction: column;
                text-decoration: none;
                transition: .2s all;
                align-items: flex-end;
    
                @media (max-width: 899px) {
                    margin-top: 120px;
                }
    
                @media (max-width: 500px) {
                    margin-top: 80px;
                }
    
                li {
                    display: flex;
                    margin: 0;
                    list-style: none;
                    padding: 0;
    
                    a {
                        color: white;
                        text-align: end;
                        font-weight: 500;
                        text-decoration: none;
                        font-size: 16px;
                        transition: .5s all;
    
                        &:hover, &:focus { color: grey; transition: .3s all; }
                    }
                }
            }
        }
    }
}

#top {

    display: flex;
    background-image: url(/build/img/homepage.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;

    .top-content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 340px;

        @media (max-width: 1400px) {
            margin-top: 200px;
        }

        @media (max-width: 600px) {
            margin-top: 60px;
        }

        @media (max-width: 400px) {
            padding: 0 20px;
        }

        h1, h2, h3, h4 {
            color: white;
            width: 70%;
        }

        h1 {
            line-height: 1.2em;
            width: 50%;
            text-transform: uppercase;

            &.phone-number {
                font-size: 52px;
                transition: .3s all;

                &:hover {
                    transform: scale(1.01);
                }

                @media(max-width: 700px) {
                    font-size: 24px;
                }
            }
        }

        h2 {
            position: relative;
            padding-bottom: 60px;

            @media (max-width: 500px) {
                padding-bottom: 30px;
            }   

            &::after {
                content: "";
                height: 2px;
                background-color: color(yellow, 1, 1);
                position: absolute;
                left: 0;
                width: 130px;
                right: 100%;
                transition: 0.2s left ease-out, 0.2s right ease-out;
                bottom: 25px;
            }

            &.small {
                &::after {
                    display: none;
                }
                font-size: 21px; 

                @media (max-width: 500px) {
                    font-size: 18px;
                }
            }

            &.styler {
                padding-bottom: 12px;
                
                &::after {
                    bottom: -55px;

                    @media (max-width: 500px) {
                        bottom: -80px;
                    }
                }
            }
        }

        h3, h4 {
            padding: 4px 0;
            font-weight: 600;
        }

        .button {
            border: 1px solid rgba(255,172,50, .8);
            border-radius: 4px;
            padding: 15px 25px;
            background-color: color(yellow, 1, .8);
            transition: all .3s ease-in;
            color: white;
            font-weight: 600;
            font-size: 18px;
            align-self: center;
            align-self: flex-start;
            margin-top: 10px;
        
            &:hover {
                background: color(white, 1, 1);
                color: black;
                border: 1px solid white;
                cursor: pointer;
            }
        }
        
        #scroll {
            align-self: center;
            margin-top: auto;
            padding: 0 0 15px 0;
            transition: .3s all;

            &:hover {
                padding: 0 0 8px 0;
                cursor: pointer;
            }

            svg {
                fill: color(yellow, 1, 1);
                height: 30px;
                width: 50px;
            }
        }
    }
}

#content {

    .offer-text {

        h4 {
            text-align: center;
            padding: 25px 0 0 0;

            @media (max-width: 600px) {
                font-size: 20px;
            }
        }

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 20px 0 90px 0;
            text-align: center;
            font-size: 20px;

            li {
                padding: 0 20px;
                position: relative;

                &:after {
                    content: "";
                    height: 45px;
                    background-color: color(black, 1, .3);
                    position: absolute;
                    left: 0;
                    right: 100%;
                    transition: 0.2s left ease-out, 0.2s right ease-out;
                    z-index: -1;
                    bottom: 0;
                    width: 1px;
                }

                @media (max-width: 1200px) {
                    &:after {
                        display: none;
                    }
                }

                &:first-child {
                    &:after {
                        display: none;
                    }
                }

                span {
                    display: flex;
                    justify-content: space-evenly;

                    &:first-child {
                        padding: 10px; 
                    }

                    &:nth-child(2n) {
                        font-weight: 600;
                        font-size: 22px;
                    }
                }
            }
        } 
    }

    .offer-chart {

        svg {
            height: 60px;
            width: 60px;
            fill: color(yellow, 1, 1);

            @media (max-width: 600px) {
                height: 45px;
                width: 45px;
            }
        }

        .page-limit {
        display: flex;
        margin: 60px auto;
        justify-content: center;
        padding: 40px 0;
        flex-wrap: wrap;

        @media(max-width: 1000px) {
            margin: 0 auto;
        }

            div {
                width: 300px;
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;

                @media(max-width: 1200px) {
                    padding: 20px 0;
                }

                p {
                    padding: 30px 10px 0 10px;
                    font-weight: 300;
                }
            }
        }

        
    }


    p {
        font-size: 20px;
        text-align: center;
        position: relative;

        @media (max-width: 400px) {
            padding: 30px 20px 0 20px;
        }

        &.styler {
            padding: 60px 0 0 0;
        }
    }

    h3 {
        text-align: center;
        padding: 40px 0 0 0;
        position: relative;

        &:nth-child(2n) {
            padding: 20px 0 0 0;

            @media (max-width: 400px) {
                padding: 0 20px;
            }
        }
    }

    h5 {
        text-align: center;
        font-size: 22px;

        @media (max-width: 600px) {
            font-size: 18px;
            padding: 15px 0;
        }
    }
}

.text-chart {
    h3 {
        text-align: center;
        padding-top: 60px;
    }

    .text-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 40px;

        h5 {
            position: relative;
            padding: 20px 0 0 90px;
            font-size: 18px;
            width: 450px;

            @media (max-width: 400px) {
                padding: 20px 20px 0 20px;
                text-align: center;
            }

            &::before {
                content: url(/build/img/check-mark.svg);
                @include center();
                left: 10%;
                top: 80%;

                @media (max-width: 400px) {
                    left: 5%;
                }
            }
        }
    }
}

#gallery {

    .gallery {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-between;
        padding-top: 60px;

        @media (max-width: 1380px) {
            justify-content: center;
        }

        div {
            padding: 15px;
            height: 300px;
            overflow: hidden;

            &:last-child {
                margin-right: auto;
            }
        }
    
        img {
            overflow: hidden;
            transition: .5s all;
            height: 100%;

            &:hover {
                cursor: pointer;
                transform: scale(1.02);
            }
        }
    }
}

#contact {
    display: flex;
    padding-top: 60px;

    @media(max-width: 800px) {
        flex-direction: column;
    }

    #map {
        width: 50%;
        height: 600px;

        @media(max-width: 800px) {
            width: 100%;
            height: 300px;
        }
    }
    
    .form-wrapper {
        background: 	rgb(243, 243, 243);
        width: 50%;

        @media(max-width: 800px) {
            width: 100%;
        }

        h1 {
            padding-top: 50px;
            text-align: center;

            @media(max-width: 700px) {
                font-size: 18px;
            }
        }
    }
}

.wpcf7 {
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0;

    p {
        font-size: 12px;
    }

    .wpcf7-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input, textarea {
            border-radius: 10px;
            padding: 10px;
        }

        textarea {
            padding: 15px;
        }

        .wpcf7-submit {
            background-color: color(yellow, 1, 1);
            padding: 10px 50px;
            transition: .3s all;
            font-weight: 600;
            margin-bottom: 20px;

            &:hover {
                cursor: pointer;
                background-color: orangered;
            }
        }
    }
}

#footer {
    background: grey;
    width: 100%;
    
    .page-limit {
        display: flex;
        justify-content: flex-end;
        font-size: 18px;
        color: white;
        font-weight: 300;
        padding: 20px 0;
    }
}